<!-- views/index.ejs -->
<%- include('partials/header') %>

<body>
    <main>
        <!-- Se o usuário está logado, exibe os comentários -->
        <% if (username) { %>
            <div class="text-center">
                <h1>Bem-vindo à Página Inicial</h1>
                <p>Olá, <%= username %>!</p>
            </div>

            <!-- Exibe os comentários -->
            <div class="card mb-2">
                <div class="card-body">
                    <% comments.forEach(comment => { %>
                        <h5 class="card-title">
                            <a href="/profile/<%= comment.username %>" style="text-decoration: none;"><%= comment.username %></a>
                        </h5>
                        <div class="comment">
                            <p><%= comment.content %></p>
                            <p><small>Postado em <%= new Intl.DateTimeFormat('pt-BR', { dateStyle: 'full' }).format(comment.createdAt) %></small></p>
                        </div>
                    <% }); %>
                </div>
            </div>
            
        <% } else { %>
            <!-- Se não está logado -->
            <div class="text-center">
                <h1>Bem-vindo à Página Inicial</h1>
                <p>Você não está logado</p>
            </div>
        <% } %>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
