<!-- views/index.ejs -->
<%- include('partials/header') %>

<body>
    <main>
        <!-- Se o usuário está logado, exibe os comentários -->
        <% if (username) { %>
            <div class="text-center">
                <h1>Bem-vindo à Página Inicial</h1>
                <p>Olá, <%= username %>!</p>
            </div>

            <!-- Exibe os comentários -->
            <div class="comments-list">
                <% comments.forEach(comment => { %>
                    <div class="comment">
                        <p><%= comment.username %>:</p>
                        <p><%= comment.content %></p>
                        <p><small>Postado em <%= comment.createdAt.toDateString() %></small></p>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <!-- Se não está logado -->
            <div class="text-center">
                <h1>Bem-vindo à Página Inicial</h1>
                <p>Você não está logado</p>
            </div>
        <% } %>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
