<!-- views/other_profile.ejs -->
<%- include('partials/header') %>

<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <a href="/" style="text-decoration: none; color: black;">Projeto Express</a>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <h1>Perfil de <%= profileUser.username %></h1>
            <% if (profileUser.name) { %>
                <p>Nome: <%= profileUser.name %></p>
            <% } %>
            <% if (profileUser.location) { %>
                <p>Localização: <%= profileUser.location %></p>
            <% } %>
            <% if (profileUser.bio) { %>
                <p>Bio: <%= profileUser.bio %></p>
            <% } %>

            <% if (loggedin && profileUser.username !== username) { %>
                <% if (isFollowing) { %>
                    <form action="/profile/unfollow/<%= profileUser.username %>" method="POST">
                        <button type="submit" class="btn btn-danger">Deixar de Seguir</button>
                    </form>
                <% } else { %>
                    <form action="/profile/follow/<%= profileUser.username %>" method="POST">
                        <button type="submit" class="btn btn-primary">Seguir</button>
                    </form>
                <% } %>
            <% } %>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
